name: PR Checks

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: npx oxlint@latest . --format github
