name: PR Checks

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: npx oxlint@latest . --format github
